i.fa-heart {
  color: red;
}

span.recent-cities-label {
  padding-left: 10px;
  text-decoration: underline;
}

ul.recent-cities {
  padding: 5px 0px;
  background-color: #c9d7ee;
}
.recent-cities li {
  list-style: none;
  padding-left:15px ;
  cursor: pointer;
}

img.weather-icon, img.current-weather-icon {
  width: 45px;
}div.five-day-header {
  text-align: center;
}

