i.fa-heart {
  color: red;
}

h1 {
  color: #fff;
}
span.city-label {
  font-size: 1.5em;
  font-weight: 500;
  color: #fff;
}

#current-uv {
  padding: 3px 8px 3px 3px;
  margin-left: 5px;
  color: #fff;
  font-weight: bold;
  background-color: red;
  border-radius: 4px;
}

span.recent-cities-label {
  padding-left: 5px;
  text-decoration: underline;
}

ul {
  padding: 0px 0px 0px 6px;
  margin: 0px;
}

div.dropdown-menu, div.blue-bg {
  padding: 5px 0px;
  background-color: #cedbee;
}

div.main-blue-bg {
  background-color: #cedbee;
}

div.dark-blue-bg {
  font-size: 1.2em;
  font-weight: 500;
  color: #fff;
  background-color: #047BFE;
}


.recent-cities li {
  list-style: none;
  padding-left:5px ;
  cursor: pointer;
}

img.weather-icon, img.current-weather-icon {
  width: 45px;
}div.five-day-header {
  text-align: center;
}

div.card-header {
  background-color: #047BFE;

}
